/* structure for all, geared toward mobile first */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  /* font: .9em/1.2 Arial, Helvetica, sans-serif; */
  font: 16px Ariel, sans-serif;
  background-color: black;
  background-image: url("/docs/images/tools.jpg");
}

.container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 4fr 8fr;
  /* grid-gap: .5em; */
}

.button {
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font: 18px Ariel, sans-serif;
  margin: 1px 1px;
  cursor: pointer;
}

.footer-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 3px 20px;
  text-align: center;
  display: inline-block;
  font: 18px Ariel, sans-serif;
  margin: 5px 3px;
  cursor: pointer;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  grid-column: span 2;
  grid-row: 1;
  padding: 10px;
  border-radius: 5px;
  /* border: 2px solid white; */
  background-color: rgba(150, 150, 150, 0.5);
  color: rgb(255, 255, 255);
  min-height: 50px;
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: left;
  /* position: relative; */
}

footer {
  grid-column: span 2;
  grid-row: 5;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  /* border: 2px solid white; */
  background-color: rgba(150, 150, 150, 0.5);
  color: rgb(255, 255, 255);
  min-height: 40px;
  display:inline-block;
  align-content: center;
  justify-content: center;
  text-align: right;
}

menu {
  grid-column: span 2;
  grid-row: 2;
}

article {
  grid-column: span 2;
  grid-row: 3;
  border: 2px white;
  /* border-style: none none solid none; */
  /* border-radius: 5px; */
  /* background-color: rgb(197, 198, 240); */
  min-height: 500px;
  position: relative;
}

aside {
  /* transform: rotate(-30deg); */
  grid-column: span 2;
  grid-row: 4;
  min-height: 20px;
  border: 2px white;
  /* border-style: none none solid none; */
  padding: 0px 20px 30px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: grid;
  align-content: flex-end;
  /* justify-content: center; */
  text-align: center;
}

footer {
  grid-column: span 2;
  grid-row: 5;
  font-size: 20px;
  justify-content: center;
  /* text-align: right; */
}

/* structure for larger screens:*/
@media (min-width: 576px) {

  aside {
    grid-column: 1;
    grid-row: 3;
  }

  article {
    min-height: 600px;
    grid-column: 2;
    grid-row: 3;
  }

  footer {
    grid-column: span 2;
    grid-row: 4;
    justify-content: right;
  }

}